.Northern{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f2f0f2;
}
.Southern{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #666867;
}